################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/PIS_mag_1_imageLightening-Darkening/v15/Server/sqlite3
/PIS_mag_1_imageLightening-Darkening/obj/Debug/TempPE
/PIS_mag_1_imageLightening-Darkening/obj/Debug/PIS_mag_1_imageLightening-Darkening.csprojResolveAssemblyReference.cache
/PIS_mag_1_imageLightening-Darkening/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PIS_mag_1_imageLightening-Darkening/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PIS_mag_1_imageLightening-Darkening/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/PIS_mag_1_imageLightening-Darkening/v15/.suo
.vs/PIS_mag_1_imageLightening-Darkening/v15/.suo
PIS_mag_1_imageLightening-Darkening/bin/Debug/PIS_mag_1_imageLightening-Darkening.pdb
PIS_mag_1_imageLightening-Darkening/obj/Debug/PIS_mag_1_imageLightening-Darkening.pdb
.vs/PIS_mag_1_imageLightening-Darkening/v15/.suo
*.lock
